<!-- components/header.html -->
<header class="sticky-header">
    <nav class="nav-container">
        <div class="logo">
            <img src="https://placehold.co/150x40/0A1929/FFFFFF?text=AutoMarket" alt="AutoMarket Logo">
        </div>
        <ul class="nav-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="vehicles.html">Vehicles</a></li>
            <li><a href="video-gallery.html">YouTube</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="#about">About</a></li>
        </ul>
        <div class="nav-right">
            <a href="vehicles.html" class="cta-button">View Vehicles</a>
        </div>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>